<!DOCTYPE html>
<html>
<head>
    <title>Resume</title>
</head>
<body>
    <h1>Resume</h1>
    <img src="{{ resume.picture.url }}" alt="Profile Picture" />
    <h2>About Me</h2>
    <p>{{ resume.about_me }}</p>
    <h2>Skills</h2>
    <p>{{ resume.skills }}</p>
    <h2>Education</h2>
    <p>{{ resume.education }}</p>
    <h2>Experiences</h2>
    <p>{{ resume.experiences }}</p>
    <h2>Certificates</h2>
    <p>{{ resume.certificates }}</p>
    <h2>Publications</h2>
    <p>{{ resume.publications }}</p>
    <h2>Social Media Links</h2>
    <p>{{ resume.social_media_links }}</p>
</body>
</html>
